<!-- <div>
<a href="/">home</a> | <a href="/login">login</a> | <a href="/logout">logout</a> | <a href="/account">account</a>
</div> -->
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <div class="w3-card-4 w3-green" style="width:100%;">
      <div class="w3-container w3-center ">
      	<img src="{{url_for('static', filename='logo.png')}}" class="w3-col s1" >
        <h1>Welcome Admin</h1>
        <h2 class="text-center" > HSC Inventory Management System </h2>
				<div class="w3-bar w3-center">
				  <a href="/home"><button href="/" class="w3-button w3-">Home</button></a>
				  <a href="/inventory"><button class="w3-button w3-">Inventory</button></a>
				  <a href="/salesform"><button class="w3-button w3-">Add A Sale Records</button></a>
				  <a href="/addinventory"><button class="w3-button w3-">Add Item in Inventory</button></a>				  
				  <a href="/account"><button class="w3-button w3-">Account</button></a>
				  <a href="/logout"><button class="w3-button w3-">Logout</button></a>
				</div>
      	</div>
    </div>
  </div>
<br><br>

</body>
</html>
 